<br />
<br />

<div class="container">
    <div class="row VideoContent">
        <iframe height="595" src="https://www.youtube.com/embed/jAqVxsEgWIM" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
<br />
<div class="container">
    <div class="row StatisContent">
        <div class="col-md-5">
            <h3>عن طريق موقعنا نقدر نوفرلك الأحصائيه الى تناسبك</h3>
            <p>قدرت دراسة اقتصادية صادرة عن جامعة الدول العربية في القاهرة حجم خسائر الدول العربية الناجم عن تجاهلها إعادة تدوير المخلفات بنحو 5 مليارات دولار سنوياً. موضحة أن كمية المخلفات في الوطن العربي تبلغ نحو 89.6 مليون طن سنوياً وتكفي لاستخراج نحو 14.3 مليون طن ورق قيمتها ملياران و145 مليون دولار وانتاج 1.8 مليون طن حديد خردة بقيمة 135 مليون دولار بالإضافة لحوالي 75 ألف طن بلاستيك قيمتها 1.4 مليار دولار. فضلاً عن 202 مليون طن قماش بقيمة 110 ملايين دولار وكذا إنتاج كميات ضخمة من الأسمدة العضوية والمنتجات الأخرى بقيمة تتجاوز مليارا و225 مليون دولار.</p>
        </div>
        <div class="col-md-7">
            <img src="~/Image/statistics.png" style="width: 100%" />
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <h1 style="font-family: 'Changa', sans-serif;" class="text-center">فريق العمل</h1>
        <br />
        <div id="myCarousel2" class="carousel " data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->

            <div class="col-md-1">
                <a class="carousel-control" href="#myCarousel2" data-slide="prev">
                    <i class="fa fa-4x fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-md-10">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row OurTeam">
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                        </div>
                        <br />
                        <div class="row OurTeam">
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row OurTeam">
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                        </div>
                        <br />
                        <div class="row OurTeam">
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                            <div class="col-md-4 hvr-bounce-out">
                                <img src="~/Image/mo-elbadry.jpg" alt="Los Angeles" style="width: 100%; height: 280px">
                                <h3 class="text-center">Full Stack Developer</h3>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-1">
                <a class="carousel-control" href="#myCarousel2" data-slide="next">
                    <i class="fa fa-4x fa-chevron-left" aria-hidden="true"></i>
                </a>
            </div>

            <!-- Left and right controls -->


        </div>
    </div>

</div>
<br />
<div class="container">
    <div class="row OurSuccess wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="col-md-3 text-center">
            <div class="">
                <span class="OurSuccessSpan">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </span>
            </div>
            <div>
                <h2 class="FontAdminH">معامله</h2>
            </div>
            <div class="FontAdminH count">633</div>
        </div>

        <div class="col-md-3 text-center">
            <div class="">
                <span class="OurSuccessSpan">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                </span>
            </div>
            <div>
                <h2 class="FontAdminH">جوائز</h2>
            </div>
            <div class="FontAdminH count">320</div>
        </div>

        <div class="col-md-3 text-center">
            <div class="">
                <span class="OurSuccessSpan">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
            </div>
            <div>
                <h2 class="FontAdminH">مستخدم</h2>
            </div>
            <div class="FontAdminH count">9660</div>
        </div>

        <div class="col-md-3 text-center">
            <div class="">
                <span class="OurSuccessSpan">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </span>
            </div>
            <div>
                <h2 class="FontAdminH">شركاء</h2>
            </div>
            <div class="FontAdminH count">9</div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
        $('.count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                    duration: 9000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
        });
    </script>
}
